# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.idea/.name
.idea/ant.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/libraries/javax_inject_1.xml
.idea/libraries/jaxrs_api_3_0_10_Final.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
out/test/tim_burns_example/org/timburns/example/service/CustomerServiceTest.class
out/production/tim_burns_example/org/timburns/example/model/Customer.class
build/classes/org/timburns/example/model/Customer.class
build/classes/org/timburns/example/service/CustomerService.class
build/classes/org/timburns/example/ui/CustomerHandler.class
out/production/tim_burns_example/org/timburns/example/service/CustomerService.class
*.class
web/META-INF/MANIFEST.MF
web/META-INF/maven/org.wildfly.quickstarts/wildfly-helloworld-html5/pom.properties
web/META-INF/maven/org.wildfly.quickstarts/wildfly-helloworld-html5/pom.xml
web_build/tim_burns.war
web_build/tim_burns.zip