<?xml version="1.0" encoding="UTF-8"?>
<form id="newCustomer" class="newCustomerForm" ng-submit="addCustomerEntry()">
    <fieldset>
        <legend>New Customer:</legend>
        <div id="newCustomerFields">
            <div class="newCustomerFieldsEntry">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name"  ng-model="newMember.name" placeholder="Your Name" required autofocus/>
                <span class="error" ng-show="errors.name">{{errors.name}}</span>
            </div>

            <div id="newCustomerAction">
                <input type="submit" id="add" value="Add">
            </div>

        </div>
    </fieldset>
</form>
